body {
  background: #eaebe9; }

main {
  height: 100vh; }

.icon {
  width: 40px;
  height: 40px; }

nav {
  background: #002b50;
  height: 100vh;
  position: fixed; }
  nav h1, nav li {
    color: #f8f9f7; }
  nav ul {
    margin-top: 20vh;
    width: 100%; }
    nav ul li {
      width: 100%;
      text-align: center;
      margin-top: 20px; }
      nav ul li a {
        display: block;
        color: inherit;
        text-decoration: none; }
  nav .uitloggen {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }

.mainfeature {
  margin-top: 20vh; }
  .mainfeature h1 {
    font-size: 30px; }

.mainfeature .meldingBox {
  margin-top: 2vh;
  max-height: 50vh;
  border: #b3d0e6 8px solid;
  overflow-y: auto; }
.mainfeature .melding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px; }
  .mainfeature .melding p:first-child {
    margin-left: 10px; }
  .mainfeature .melding a {
    text-decoration: none;
    display: block;
    color: #f8f9f7; }
  .mainfeature .melding button {
    background: #b3d0e6;
    border: none; }

.mainfeature .gebruikerBox {
  margin-top: 2vh;
  height: 50vh;
  border: #b3d0e6 8px solid;
  overflow-y: auto; }
.mainfeature .nieuweGebruikerButton {
  position: absolute;
  top: 50px;
  right: 16%;
  border: none;
  height: 40px;
  background: #b3d0e6;
  color: #f8f9f7;
  display: block;
  width: 15%; }
.mainfeature .gebruiker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px; }
  .mainfeature .gebruiker p:first-child {
    margin-left: 10px; }
  .mainfeature .gebruiker a {
    text-decoration: none;
    display: block;
    color: #f8f9f7; }
  .mainfeature .gebruiker button {
    background: #b3d0e6;
    border: none; }
.mainfeature .gebruiker:nth-child(even) {
  background: #f8f9f7; }
.mainfeature .gebruiker:nth-child(odd) {
  background: #dcdddb; }

form {
  display: block;
  position: relative;
  margin-top: 20px; }
  form p {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    margin-top: 5px !important; }
  form input, form label {
    display: block; }
  form input {
    height: 100%;
    background: #f8f9f7;
    border: none; }
  form input[readonly] {
    background: #dcdddb; }
  form button {
    border: none;
    background: none; }
    form button img {
      height: 15px;
      width: 15px;
      margin-left: 10px; }

.nieuweGebruikerBox section {
  margin-top: 20px; }

.importeerButton {
  background: #b3d0e6;
  border: none;
  height: 40px;
  background: #b3d0e6;
  color: #f8f9f7;
  width: 15%; }

.saveButton {
  border: none;
  height: 40px;
  background: #b3d0e6;
  color: #f8f9f7;
  width: 15%;
  margin-top: 20px; }

button {
  cursor: pointer; }

.uniekeGebruikerBox .uniekeGebruikerItem {
  margin-top: 50px; }

.color1 {
  color: #67bff1; }

.color2 {
  color: #c283d5; }

.color3 {
  color: #853b38; }

.color4 {
  color: #f1e66b; }

.background0 {
  background: #b11319; }

.background1 {
  background: #f8f9f7; }

h1 {
  font-family: 'Rubik', sans-serif; }

p, li, h2 {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
